services:
  postgres:
    image: postgres:15-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: polarcraft
      POSTGRES_USER: polarcraft
      POSTGRES_PASSWORD: polarcraft_dev
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
